// standard html elements

@mixin core

    html, body
        min-height: 100%

    body
        background: $quadrary

    fieldset
        padding: $space-t-b $space-l-r
        border:
            color: $border-color + #222
            style: $border-style
            width: $border-width

    // HTML-Elemente [END]

    // Standart-Klassen [BEGIN]

    .left
        float: left

    .right
        float: right

    .center
        text-align: center

    .img-left
        float: left
        margin-right: 2em
        margin-bottom: 1em

    .img-right
        float: right
        margin-left: 2em
        margin-bottom: 1em

    // Standart-Klassen [END]

@mixin multi-col
    // Multi-Column-Elemente
    .multi-col-50-50
        box-sizing: border-box
        .col-1
            width: 50%
            float: left
        .col-2
            width: 50%
            float: right

    .multi-col-30-30-30
        box-sizing: border-box
        .col-1
            width: 33%
            float: left
        .col-2
            width: 34%
            float: left
        .col-3
            width: 33%
            float: left

@mixin clearit
    .clearit
        height: 0 !important
        width: 0 !important
        line-height: 0 !important
        clear: both !important
        float: none !important

@mixin clearfix
    .clearfix:after
        content: '.'
        display: block
        height: 0
        clear: both
        visibility: hidden
        font-size: 0
        clear: both

@mixin page-width
    .footer
        margin: 0px auto
        width: 100%

    .width-wrap
        max-width: $page-width
        margin:
            left: auto
            right: auto

    .inner-width-wrap
        padding: $space-t-b $space-l-r

    .main-content img
        max-width: 100%

    .page-wrap
        padding: $space-t-b $space-l-r

@mixin table
    table
        width: 100%

@mixin pre
    code
        background: $quadrary - #111
        padding: 0.1em 0.2em
        border-radius: $radius
        // white-space: nowrap
    pre
        background: $quadrary - #111
        padding: 20px
        overflow: scroll
        border-radius: $radius
        > code
            white-space: pre
        code
            padding: 0
            border: none
            background: transparent
